In [144]:
import pandas as pd
import numpy as np

data_url = "http://lib.stat.cmu.edu/datasets/boston"
boston_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]

In [145]:
boston_df

,0,1,2,3,4,5,6,7,8,9,10
0,0.00632,18.00,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3
1,396.90000,4.98,24.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.02731,0.00,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8
3,396.90000,9.14,21.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.02729,0.00,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8
...,...,...,...,...,...,...,...,...,...,...,...
1007,396.90000,5.64,23.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1008,0.10959,0.00,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0
1009,393.45000,6.48,22.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1010,0.04741,0.00,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0
1011,396.90000,7.88,11.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
first_df=boston_df.iloc[[i for i in range(raw_df.shape[0]) if i%2==0]]
# 더 쉬운 방법 : bostonDF.iloc[1::2, :3]
first_df.reset_index(inplace=True)
first_df=first_df.drop(columns=['index'])
first_df

           0     1      2    3      4      5     6       7    8      9    10
0    0.00632  18.0   2.31  0.0  0.538  6.575  65.2  4.0900  1.0  296.0  15.3
1    0.02731   0.0   7.07  0.0  0.469  6.421  78.9  4.9671  2.0  242.0  17.8
2    0.02729   0.0   7.07  0.0  0.469  7.185  61.1  4.9671  2.0  242.0  17.8
3    0.03237   0.0   2.18  0.0  0.458  6.998  45.8  6.0622  3.0  222.0  18.7
4    0.06905   0.0   2.18  0.0  0.458  7.147  54.2  6.0622  3.0  222.0  18.7
..       ...   ...    ...  ...    ...    ...   ...     ...  ...    ...   ...
501  0.06263   0.0  11.93  0.0  0.573  6.593  69.1  2.4786  1.0  273.0  21.0
502  0.04527   0.0  11.93  0.0  0.573  6.120  76.7  2.2875  1.0  273.0  21.0
503  0.06076   0.0  11.93  0.0  0.573  6.976  91.0  2.1675  1.0  273.0  21.0
504  0.10959   0.0  11.93  0.0  0.573  6.794  89.3  2.3889  1.0  273.0  21.0
505  0.04741   0.0  11.93  0.0  0.573  6.030  80.8  2.5050  1.0  273.0  21.0

[506 rows x 11 columns]

In [147]:
sec_df=boston_df.iloc[[i for i in range(raw_df.shape[0]) if i%2==1], 0:3]
sec_df=sec_df.reset_index()
sec_df.drop(columns='index', inplace=True)
sec_df

          0     1     2
0    396.90  4.98  24.0
1    396.90  9.14  21.6
2    392.83  4.03  34.7
3    394.63  2.94  33.4
4    396.90  5.33  36.2
..      ...   ...   ...
501  391.99  9.67  22.4
502  396.90  9.08  20.6
503  396.90  5.64  23.9
504  393.45  6.48  22.0
505  396.90  7.88  11.9

[506 rows x 3 columns]

In [148]:
bostonDF=pd.concat([first_df, sec_df], axis=1)

In [149]:
bostonDF.columns=['CRIM', 'ZN', 'INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','MEDV']
bostonDF

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [166]:
x_train, x_test, y_train, y_test=train_test_split(
data, target, test_size=0.2, random_state=42)

In [167]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [168]:
scaler=StandardScaler()

In [177]:
scaler.fit(x_train)
x_train=scaler.transform(x_train)
x_test=scaler.transform(x_test)

In [178]:
model=LinearRegression()

In [179]:
model.fit(x_train, y_train)

LinearRegression()

In [180]:
print(model.score(x_train, y_train))
print(model.score(x_test, y_test))

0.7508856358979672
0.668759493535632

In [173]:
from sklearn.linear_model import Ridge

In [174]:
ridgeModel=Ridge(alpha=0.1)
ridgeModel2=Ridge(alpha=1)
ridgeModel3=Ridge(alpha=10)

In [175]:
ridgeModel.fit(x_train, y_train)
ridgeModel2.fit(x_train, y_train)
ridgeModel3.fit(x_train, y_train)

Ridge(alpha=10)

In [176]:
print(ridgeModel.score(x_train, y_train))
print(ridgeModel.score(x_test, y_test))
print()
print(ridgeModel2.score(x_train, y_train))
print(ridgeModel2.score(x_test, y_test))
print()
print(ridgeModel3.score(x_train, y_train))
print(ridgeModel3.score(x_test, y_test))

0.750827350977196
0.668624412202141

0.7487825119234439
0.6662221670168518

0.7417486732924389
0.6638882305470697

In [161]:
print('alpha=0.1 =>', ridgeModel.coef_)
print('alpha=1 =>', ridgeModel2.coef_)
print('alpha=10 =>', ridgeModel3.coef_)

alpha=0.1 => [-1.00111591  0.69436316  0.27539404  0.71912548 -2.01912122  3.14590087
 -0.17617627 -3.07816919  2.24333232 -1.75959591 -2.03674427  1.12933027
 -3.61037565]
alpha=1 => [-0.99218679  0.6777488   0.2522143   0.72248078 -1.99083465  3.15157218
 -0.17726162 -3.04502895  2.17324941 -1.69555879 -2.02783351  1.127197
 -3.59897667]
alpha=10 => [-0.92129427  0.55113158  0.0817479   0.74685872 -1.74937519  3.18716624
 -0.18328278 -2.75585734  1.65751243 -1.24757615 -1.95094026  1.10650844
 -3.4960827 ]

In [162]:
from sklearn.linear_model import Lasso

In [163]:
lassoModel=Lasso(alpha=2)

In [164]:
lassoModel.fit(x_train, y_train)

Lasso(alpha=2)

In [165]:
print(lassoModel.score(x_train, y_train))
print(lassoModel.score(x_test, y_test))

0.6120387666487344
0.5831412350325869