# 할리스 커피 매장 찾기
- http://www.hollys.co.kr

## HTML 코드 확인
- 매장 정보 확인
    - '< t b o d y >' 태그 내부
        - '< t d >' 태그 첫 번째 : 매장이 있는 지역
        - '< t d >' 태그 두 번째 : 매장 이름
        - '< t d >' 태그 네 번째 : 매장 주소
        - '< t d >' 태그 다섯 번째 : 매장 전화번호
- 나머지 매장 정보 확인
    - https://www.hollys.co.kr/store/korea/korStore2.do?pageNo=1&sido=&gugun=&store=

### 1. 매장 찾기에서 1~53페이지까지 모든 매장의 정보를 스크레이핑
- 지역, 매장명, 매장 주소, 전화번호
- 수집된 정보는 Pandas DataFrame으로 변경한 다음 csv 파일로 저장
- csv 파일 : hollys.branches.csv
- 소스 파일 : hw02.coffeeshop_to_csv.ipynb

### 2. 저장된 csv 파일을 읽어서 사용자가 입력한 지역에 있는 매장 정보 출력
- 소스 파일 : hw02_find_coffeeshop.ipynb

In [197]:
tds=[]
result=[]

region=[]     # 지역을 담는 리스트
shop_name=[]  # 매장 이름을 담는 리스트
shop_addr=[]  # 매장 주소를 담는 리스트
call=[]       # 전화번호를 담는 리스트

In [203]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

tds=[]     # <td> 태그 담는 리스트
result=[]  # <td> 태그의 text 담는 리스트

region=[]     # 지역을 담는 리스트
shop_name=[]  # 매장 이름을 담는 리스트
shop_addr=[]  # 매장 주소를 담는 리스트
call=[]       # 전화번호를 담는 리스트

In [208]:
def get_info(soup):
    '''
    지역, 매장이름, 매장주소, 전화번호를 리스트에 담는 함수
    '''
    tbodys=soup.find('tbody')
    tbody=tbodys.find_all('td')
    
    for t in tbody:
        tds.append(t.text)

In [209]:
def seperate_result(result):
    '''
    모든 정보가 담겨있는 리스트를
    지역
    매장이름
    매장주소
    전화번호
    총 4개의 리스트에 각각 나누어 담는 함수
    '''
    
    for i in range(len(result)):
        if i%4==0:
            region.append(result[i])
        elif i%4==1:
            shop_name.append(result[i])
        elif i%4==2:
            shop_addr.append(result[i])
        else:
            call.append(result[i])

In [210]:
def get_df():
    '''
    리스트를 하나의 데이터프레임으로 만드는 함수
    '''
    region_df=pd.DataFrame(region, columns=['지역'])
    shop_name_df=pd.DataFrame(shop_name, columns=['매장이름'])
    shop_addr_df=pd.DataFrame(shop_addr, columns=['매장주소'])
    call_df=pd.DataFrame(call, columns=['전화번호'])
    info=pd.concat([region_df, shop_name_df, shop_addr_df, call_df], axis=1)
    return info

In [211]:
for i in range(1, 3):
    html=urlopen('https://www.hollys.co.kr/store/korea/korStore2.do?pageNo='+str(i)+'&sido=&gugun=&store=')
    soup=BeautifulSoup(html, 'html.parser')

    get_info(soup)
    
#     print(i,'번째 for문 돌아가는중 ...', result)
#     print()
    
for i in range(1, len(tds)+1):
    if (i%6  in [0, 1, 2, 4]):
        result.append(tds[i-1])

seperate_result(result)

info=get_df()
pd.DataFrame(info)

,지역,매장이름,매장주소,전화번호
0,서울 종로구,종각역점,서울특별시 종로구 종로 60-1 종로2가 102-3,02-736-3399
1,부산 사하구,부산아트몰링영풍문고점,"부산광역시 사하구 낙동남로 1413 (하단동, 아트몰링) 13층",051-201-0621
2,경기 광명시,광명GIDC점,"경기도 광명시 일직로 43 일직동 514 지하2층 G249, G250호",02-6914-6550
3,경기 이천시,이천점,경기도 이천시 어재연로 35 (창전동) 1~3층 할리스,031-635-6655
4,경기 하남시,미사가로수길점,"경기도 하남시 미사강변한강로 295 (망월동, 하남미사롯데캐슬헤븐시티Ⅱ) .",031-699-8674
...,...,...,...,...
95,서울 관악구,신림사거리점,서울특별시 관악구 남부순환로 1599-3 (신림동) 1층,02-877-1433
96,대구 달성군,대구세천점,대구광역시 달성군 다사읍 세천로 141 세천리 1581-6,053-581-5768
97,부산 동래구,부산명륜자이점,"부산광역시 동래구 동래로 77 (명륜동) 1,2층",051-554-1001
98,경기 부천시,부천송내본점,경기도 부천시 송내대로73번길 21 (상동) 1층,032-321-2007
99,충남 공주시,동학사점,"충남 공주시 반포면 동학사2로 133 1,2층 .",070-8836-8038

In [184]:
region_df=pd.DataFrame(region, columns=['지역'])
region_df

         지역
0    서울 종로구
1    부산 사하구
2    경기 광명시
3    경기 이천시
4    경기 하남시
5    경기 시흥시
6    경기 평택시
7    서울 동작구
8    경기 하남시
9    경기 이천시
10   서울 종로구
11   부산 사하구
12   경기 광명시
13   경기 이천시
14   경기 하남시
15   경기 시흥시
16   경기 평택시
17   서울 동작구
18   경기 하남시
19   경기 이천시
20   경남 김해시
21   전남 순천시
22  부산 부산진구
23   경기 군포시
24    울산 남구
25   서울 관악구
26   대구 달성군
27   부산 동래구
28   경기 부천시
29   충남 공주시

In [185]:
shop_name_df=pd.DataFrame(shop_name, columns=['매장이름'])
shop_name_df

           매장이름
0          종각역점
1   부산아트몰링영풍문고점
2       광명GIDC점
3           이천점
4       미사가로수길점
5         시흥능곡점
6         송탄서정점
7        장승배기역점
8      미사효성해링턴점
9         이천마장점
10         종각역점
11  부산아트몰링영풍문고점
12      광명GIDC점
13          이천점
14      미사가로수길점
15        시흥능곡점
16        송탄서정점
17       장승배기역점
18     미사효성해링턴점
19        이천마장점
20       김해인제대점
21    순천성가롤로병원점
22       부산동의대점
23     금정AK프라자점
24       울산삼산로점
25       신림사거리점
26        대구세천점
27      부산명륜자이점
28       부천송내본점
29         동학사점

In [186]:
shop_addr_df=pd.DataFrame(shop_addr, columns=['매장주소'])
shop_addr_df

                                                 매장주소
0                        서울특별시 종로구 종로 60-1 종로2가 102-3
1                 부산광역시 사하구 낙동남로 1413 (하단동, 아트몰링) 13층
2             경기도 광명시 일직로 43 일직동 514 지하2층 G249, G250호
3                      경기도 이천시 어재연로 35 (창전동) 1~3층 할리스
4          경기도 하남시 미사강변한강로 295 (망월동, 하남미사롯데캐슬헤븐시티Ⅱ) .
5   경기도 시흥시 능곡번영길 25 (능곡동) 능곡동 211-3 (107,108,205,...
6                    경기도 평택시 경기대로 1371,102호 서정동 814-1
7            서울특별시 동작구 장승배기로11가길 11, 1층 (상도동, 상도파크자이)
8              경기도 하남시 아리수로 570,1~2층 망월동 미사효성해링턴타워더퍼스
9                        경기도 이천시 마장면 오천로 65 오천리 56-55
10                       서울특별시 종로구 종로 60-1 종로2가 102-3
11                부산광역시 사하구 낙동남로 1413 (하단동, 아트몰링) 13층
12            경기도 광명시 일직로 43 일직동 514 지하2층 G249, G250호
13                     경기도 이천시 어재연로 35 (창전동) 1~3층 할리스
14         경기도 하남시 미사강변한강로 295 (망월동, 하남미사롯데캐슬헤븐시티Ⅱ) .
15  경기도 시흥시 능곡번영길 25 (능곡동) 능곡동 211-3 (107,108,205,...
16                   경기도 평택시 경기대로 1371,102호 서정동 814-1
17           서울특별시 동작구 장승배기로11가길 11, 1층 (상도동, 상도파크자이)
18             경기도 하남시 아리수로 570,1~2층 망월동 미사효성해링턴타워더퍼스
19                       경기도 이천시 마장면 오천로 65 오천리 56-55
20                    경상남도 김해시 인제로 168 (어방동) 정석빌딩101호
21            전남 순천시 순광로 221, 순천성가롤로병원 별관 2층 조례동 1742
22                      부산광역시 부산진구 엄광로 176 가야동, 동의대학교
23                    경기도 군포시 금정동 689 AK프라자 131, 132호
24      울산광역시 남구 삼산로 283 (삼산동, 소망빌딩) 삼산동1525-8,1525-9
25                    서울특별시 관악구 남부순환로 1599-3 (신림동) 1층
26                   대구광역시 달성군 다사읍 세천로 141 세천리 1581-6
27                        부산광역시 동래구 동래로 77 (명륜동) 1,2층
28                        경기도 부천시 송내대로73번길 21 (상동) 1층
29                        충남 공주시 반포면 동학사2로 133 1,2층 .

In [187]:
call_df=pd.DataFrame(call, columns=['전화번호'])
call_df

             전화번호
0     02-736-3399
1    051-201-0621
2    02-6914-6550
3    031-635-6655
4    031-699-8674
5   070-8806-1314
6    031-611-0234
7     02-812-9330
8   070-7733-9710
9   070-4647-0081
10    02-736-3399
11   051-201-0621
12   02-6914-6550
13   031-635-6655
14   031-699-8674
15  070-8806-1314
16   031-611-0234
17    02-812-9330
18  070-7733-9710
19  070-4647-0081
20   055-314-8589
21   061-905-0013
22   051-893-6679
23   031-427-8535
24   052-275-9004
25    02-877-1433
26   053-581-5768
27   051-554-1001
28   032-321-2007
29  070-8836-8038

In [188]:
info=pd.concat([region_df, shop_name_df, shop_addr_df, call_df], axis=1)
info

,지역,매장이름,매장주소,전화번호
0,서울 종로구,종각역점,서울특별시 종로구 종로 60-1 종로2가 102-3,02-736-3399
1,부산 사하구,부산아트몰링영풍문고점,"부산광역시 사하구 낙동남로 1413 (하단동, 아트몰링) 13층",051-201-0621
2,경기 광명시,광명GIDC점,"경기도 광명시 일직로 43 일직동 514 지하2층 G249, G250호",02-6914-6550
3,경기 이천시,이천점,경기도 이천시 어재연로 35 (창전동) 1~3층 할리스,031-635-6655
4,경기 하남시,미사가로수길점,"경기도 하남시 미사강변한강로 295 (망월동, 하남미사롯데캐슬헤븐시티Ⅱ) .",031-699-8674
5,경기 시흥시,시흥능곡점,"경기도 시흥시 능곡번영길 25 (능곡동) 능곡동 211-3 (107,108,205,...",070-8806-1314
6,경기 평택시,송탄서정점,"경기도 평택시 경기대로 1371,102호 서정동 814-1",031-611-0234
7,서울 동작구,장승배기역점,"서울특별시 동작구 장승배기로11가길 11, 1층 (상도동, 상도파크자이)",02-812-9330
8,경기 하남시,미사효성해링턴점,"경기도 하남시 아리수로 570,1~2층 망월동 미사효성해링턴타워더퍼스",070-7733-9710
9,경기 이천시,이천마장점,경기도 이천시 마장면 오천로 65 오천리 56-55,070-4647-0081
10,서울 종로구,종각역점,서울특별시 종로구 종로 60-1 종로2가 102-3,02-736-3399
11,부산 사하구,부산아트몰링영풍문고점,"부산광역시 사하구 낙동남로 1413 (하단동, 아트몰링) 13층",051-201-0621
12,경기 광명시,광명GIDC점,"경기도 광명시 일직로 43 일직동 514 지하2층 G249, G250호",02-6914-6550
13,경기 이천시,이천점,경기도 이천시 어재연로 35 (창전동) 1~3층 할리스,031-635-6655
14,경기 하남시,미사가로수길점,"경기도 하남시 미사강변한강로 295 (망월동, 하남미사롯데캐슬헤븐시티Ⅱ) .",031-699-8674
15,경기 시흥시,시흥능곡점,"경기도 시흥시 능곡번영길 25 (능곡동) 능곡동 211-3 (107,108,205,...",070-8806-1314
16,경기 평택시,송탄서정점,"경기도 평택시 경기대로 1371,102호 서정동 814-1",031-611-0234
17,서울 동작구,장승배기역점,"서울특별시 동작구 장승배기로11가길 11, 1층 (상도동, 상도파크자이)",02-812-9330
18,경기 하남시,미사효성해링턴점,"경기도 하남시 아리수로 570,1~2층 망월동 미사효성해링턴타워더퍼스",070-7733-9710
19,경기 이천시,이천마장점,경기도 이천시 마장면 오천로 65 오천리 56-55,070-4647-0081
20,경남 김해시,김해인제대점,경상남도 김해시 인제로 168 (어방동) 정석빌딩101호,055-314-8589
21,전남 순천시,순천성가롤로병원점,"전남 순천시 순광로 221, 순천성가롤로병원 별관 2층 조례동 1742",061-905-0013
22,부산 부산진구,부산동의대점,"부산광역시 부산진구 엄광로 176 가야동, 동의대학교",051-893-6679
23,경기 군포시,금정AK프라자점,"경기도 군포시 금정동 689 AK프라자 131, 132호",031-427-8535
24,울산 남구,울산삼산로점,"울산광역시 남구 삼산로 283 (삼산동, 소망빌딩) 삼산동1525-8,1525-9",052-275-9004
25,서울 관악구,신림사거리점,서울특별시 관악구 남부순환로 1599-3 (신림동) 1층,02-877-1433
26,대구 달성군,대구세천점,대구광역시 달성군 다사읍 세천로 141 세천리 1581-6,053-581-5768
27,부산 동래구,부산명륜자이점,"부산광역시 동래구 동래로 77 (명륜동) 1,2층",051-554-1001
28,경기 부천시,부천송내본점,경기도 부천시 송내대로73번길 21 (상동) 1층,032-321-2007
29,충남 공주시,동학사점,"충남 공주시 반포면 동학사2로 133 1,2층 .",070-8836-8038

In [189]:
def get_df():
    '''
    리스트를 하나의 데이터프레임으로 만드는 함수
    '''
    region_df=pd.DataFrame(region, columns=['지역'])
    shop_name_df=pd.DataFrame(shop_name, columns=['매장이름'])
    shop_addr_df=pd.DataFrame(shop_addr, columns=['매장주소'])
    call_df=pd.DataFrame(call, columns=['전화번호'])
    info=pd.concat([region_df, shop_name_df, shop_addr_df, call_df], axis=1)
    return info

In [190]:
html=urlopen('https://www.hollys.co.kr/store/korea/korStore2.do?pageNo=2&sido=&gugun=&store=')
soup=BeautifulSoup(html, 'html.parser')

get_info(soup)
    

seperate_result(result)

info=get_df()
pd.DataFrame(info)

,지역,매장이름,매장주소,전화번호
0,서울 종로구,종각역점,서울특별시 종로구 종로 60-1 종로2가 102-3,02-736-3399
1,부산 사하구,부산아트몰링영풍문고점,"부산광역시 사하구 낙동남로 1413 (하단동, 아트몰링) 13층",051-201-0621
2,경기 광명시,광명GIDC점,"경기도 광명시 일직로 43 일직동 514 지하2층 G249, G250호",02-6914-6550
3,경기 이천시,이천점,경기도 이천시 어재연로 35 (창전동) 1~3층 할리스,031-635-6655
4,경기 하남시,미사가로수길점,"경기도 하남시 미사강변한강로 295 (망월동, 하남미사롯데캐슬헤븐시티Ⅱ) .",031-699-8674
...,...,...,...,...
85,서울 관악구,신림사거리점,서울특별시 관악구 남부순환로 1599-3 (신림동) 1층,02-877-1433
86,대구 달성군,대구세천점,대구광역시 달성군 다사읍 세천로 141 세천리 1581-6,053-581-5768
87,부산 동래구,부산명륜자이점,"부산광역시 동래구 동래로 77 (명륜동) 1,2층",051-554-1001
88,경기 부천시,부천송내본점,경기도 부천시 송내대로73번길 21 (상동) 1층,032-321-2007
89,충남 공주시,동학사점,"충남 공주시 반포면 동학사2로 133 1,2층 .",070-8836-8038

In [214]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd

tds=[]     # <td> 태그 담는 리스트
result=[]  # <td> 태그의 text 담는 리스트

region=[]     # 지역을 담는 리스트
shop_name=[]  # 매장 이름을 담는 리스트
shop_addr=[]  # 매장 주소를 담는 리스트
call=[]       # 전화번호를 담는 리스트

for i in range(1, 54):
    html=urlopen('https://www.hollys.co.kr/store/korea/korStore2.do?pageNo='+str(i)+'&sido=&gugun=&store=')
    soup=BeautifulSoup(html, 'html.parser')

    tbodys = soup.find('tbody')
    tbody = tbodys.find_all('td')

    for t in tbody:
        tds.append(t.text)

for i in range(1, len(tds) + 1):
    if (i % 6 in [0, 1, 2, 4]):
        result.append(tds[i - 1])



for i in range(len(result)):
        if i%4==0:
            region.append(result[i])
        elif i%4==1:
            shop_name.append(result[i])
        elif i%4==2:
            shop_addr.append(result[i])
        else:
            call.append(result[i])


region_df=pd.DataFrame(region, columns=['지역'])
shop_name_df=pd.DataFrame(shop_name, columns=['매장이름'])
shop_addr_df=pd.DataFrame(shop_addr, columns=['매장주소'])
call_df=pd.DataFrame(call, columns=['전화번호'])
info=pd.concat([region_df, shop_name_df, shop_addr_df, call_df], axis=1)

pd.DataFrame(info)

,지역,매장이름,매장주소,전화번호
0,서울 종로구,종각역점,서울특별시 종로구 종로 60-1 종로2가 102-3,02-736-3399
1,부산 사하구,부산아트몰링영풍문고점,"부산광역시 사하구 낙동남로 1413 (하단동, 아트몰링) 13층",051-201-0621
2,경기 광명시,광명GIDC점,"경기도 광명시 일직로 43 일직동 514 지하2층 G249, G250호",02-6914-6550
3,경기 이천시,이천점,경기도 이천시 어재연로 35 (창전동) 1~3층 할리스,031-635-6655
4,경기 하남시,미사가로수길점,"경기도 하남시 미사강변한강로 295 (망월동, 하남미사롯데캐슬헤븐시티Ⅱ) .",031-699-8674
...,...,...,...,...
524,서울 관악구,신림점,서울특별시 관악구 신림로 353-1,02-877-0019
525,서울 중구,태평로점,"서울특별시 중구 세종대로 64, 해남빌딩 1층 (태평로2가 70-5) 할리스",02-755-7795
526,서울 용산구,이태원점,서울특별시 용산구 이태원로 179,02-749-8752
527,부산 부산진구,부산서면본점,"부산광역시 부산진구 동천로 73, DS타워 1~2층 (부전동 부전동 169-1) 할리스",051-819-9117
528,서울 서대문구,신촌점,서울특별시 서대문구 연세로 34 (창천동 31-12) 할리스,02-393-2004